venv
__pycache__
secrets.py
.idea/workspace.xml
resources/battle/miner.json
resources/items/miner/lucky.aseprite
resources/items/miner/crafter2.aseprite
resources/items/miner/crafter.aseprite
.idea/workspace.xml
